<footer th:fragment="footer">
  <div class="footer-wrapper">
    <div class="footer-left">
      <a class="logo" href="../index.html">이치타비 로고</a>
      <div class="footer-text">
        이치타비(주) <span>|</span> 부산광역시 부산진구 부전동 229 <br />
        대표: [대표자 이름] <span>|</span> 사업자등록번호: [사업자등록번호] <br />
        통신판매업신고번호: [통신판매업신고번호] Copyright © ICHITABI Co., Ltd.
        All Rights Reserved.
      </div>
    </div>
    <div class="footer-right">
      <h2>CONTACT</h1>
      <p>Tel: +82-051-000-0000 <br> Email: [이메일 주소]</p>
    </div>
  </div>
</footer>
