<header th:fragment="header">
  <div id="header-wrapper">
    <a id="ichitabi-logo" href="/">
      <h1>ICHITABI</h1>
    </a>
    <div class="header-right">
      <ul>
        <li id="header-search">
          <input type="text" id="search-top-input" placeholder="Search" />
          <button id="search-top">검색</button>
        </li>
        <li id="sign-in">
          <a href="/user/login">로그인</a>
        </li>
        <li id="sign-up">
          <a href="/user/signup">회원가입</a>
        </li>
        <li id="log-out">
          <a href="#">로그아웃</a>
        </li>
      </ul>
    </div>
  </div>
  <nav class="gnb">
    <ul>
      <li id="region-btn">
        <a href="/region/list">일본의 지역</a>
      </li>
      <li><p class="seperator"></p></li>
      <li><a href="/review/reviews">여행지 추천</a></li>
      <li><p class="seperator"></p></li>
      <li><a href="#">시기별 축제</a></li>
    </ul>
  </nav>
  <div id="dropdown">
    <div id="wrapper-dropdown">
      <ul id="regions-list">
        <li class="tohoku">
          <a href="/region/tohoku">
            <p class="region-name">도호쿠</p>
          </a>
          <ul class="cities">
            <li><a href="#">아오모리</a></li>
            <li><a href="#">아키타</a></li>
            <li><a href="#">이와테</a></li>
            <li><a href="#">야마가타</a></li>
            <li><a href="#">미야기</a></li>
            <li><a href="#">후쿠시마</a></li>
          </ul>
        </li>
        <li class="hokuriku-shinetsu">
          <a href="/region/hokuriku">
            <p class="region-name">호쿠리쿠 신에쓰</p>
          </a>
          <ul class="cities">
            <li><a href="#">니가타</a></li>
            <li><a href="#">도야마</a></li>
            <li><a href="#">이시카와</a></li>
            <li><a href="#">후쿠이</a></li>
            <li><a href="#">나가노</a></li>
          </ul>
        </li>
        <li class="kanto">
          <a href="/region/kanto">
            <p class="region-name">간토</p>
          </a>
          <ul class="cities">
            <li><a href="#">도쿄</a></li>
            <li><a href="#">가나가와</a></li>
            <li><a href="#">지바</a></li>
            <li><a href="#">사이타마</a></li>
            <li><a href="#">이바라키</a></li>
            <li><a href="#">도치기</a></li>
            <li><a href="#">군마</a></li>
          </ul>
        </li>
        <li class="tokai">
          <a href="/region/tokai">
            <p class="region-name">도카이</p>
          </a>
          <ul class="cities">
            <li><a href="#">야마나시</a></li>
            <li><a href="#">시즈오카</a></li>
            <li><a href="#">기후</a></li>
            <li><a href="#">아이치</a></li>
            <li><a href="#">미에</a></li>
          </ul>
        </li>
        <li class="kansai">
          <a href="/region/kansai">
            <p class="region-name">간사이</p>
          </a>
          <ul class="cities">
            <li><a href="#">교토</a></li>
            <li><a href="#">오사카</a></li>
            <li><a href="#">시가</a></li>
            <li><a href="#">효고</a></li>
            <li><a href="#">나라</a></li>
            <li><a href="#">와카야마</a></li>
          </ul>
        </li>
        <li class="chugoku">
          <a href="/region/chugoku">
            <p class="region-name">주고쿠</p>
          </a>
          <ul class="cities">
            <li><a href="#">돗토리</a></li>
            <li><a href="#">시마네</a></li>
            <li><a href="#">오카야마</a></li>
            <li><a href="#">히로시마</a></li>
            <li><a href="#">야마구치</a></li>
          </ul>
        </li>
        <li class="shikoku">
          <a href="/region/shikoku">
            <p class="region-name">시코쿠</p>
          </a>
          <ul class="cities">
            <li><a href="#">도쿠시마</a></li>
            <li><a href="#">가가와</a></li>
            <li><a href="#">에히메</a></li>
            <li><a href="#">고치</a></li>
          </ul>
        </li>
        <li class="kyushu">
          <a href="/region/kyushu">
            <p class="region-name">규슈</p>
          </a>
          <ul class="cities">
            <li><a href="#">후쿠오카</a></li>
            <li><a href="#">사가</a></li>
            <li><a href="#">나가사키</a></li>
            <li><a href="#">오이타</a></li>
            <li><a href="#">구마모토</a></li>
            <li><a href="#">미야자키</a></li>
            <li><a href="#">가고시마</a></li>
          </ul>
        </li>
        <li class="hokkaido">
          <a href="/region/hokkaido">
            <p class="region-name">홋카이도</p>
          </a>
          <ul class="cities"></ul>
        </li>
        <li class="okinawa">
          <a href="/region/okinawa">
            <p class="region-name">오키나와</p>
            <ul class="cities"></ul>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
