<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>ICHITABI - 당신의 가장 좋았던 일본을 공유해주세요 - 회원가입</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/user.css" />
  </head>
  <body>
    <div id="header"></div>
    <h2 id="title">회원가입</h2>
    <div id="signup-container">
      <input type="text" id="email" placeholder="이메일" />
      <div class="password-wrapper">
        <input type="password" id="password" placeholder="비밀번호" /><button
          type="button"
          id="togglePassword"
          class="pw-toggle-btn hidden"
        ></button>
      </div>
      <div class="password-wrapper">
        <input
          type="password"
          id="re-password"
          placeholder="비밀번호 확인"
        /><button
          type="button"
          id="toggleRePassword"
          class="pw-toggle-btn hidden"
        ></button>
      </div>

      <input type="text" id="name" placeholder="닉네임" />
      <input type="text" id="birth-date" placeholder="생년월일8자리" />
      <div class="genderBtn">
        <button type="button" id="manBtn" class="male-Btn">남자</button>
        <button type="button" id="womenBtn" class="female-Btn">여자</button>
      </div>
      <div class="agreement">
        <input type="checkbox" id="agree" />
        <label for="agree">개인정보 수집 동의</label>
      </div>
      <button class="submitBtn">회원가입</button>
    </div>
    <div id="footer"></div>
    <script src="../js/user.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/util.js"></script>
  </body>
</html>
