@charset "utf-8";

header .gnb-admin {
  position: absolute;
  left: 50%;
  top: 35px;
  transform: translateX(-50%);
  line-height: 50px;
}

header .gnb-admin ul {
  display: flex;
}

header .gnb-admin li a {
  display: block;
  padding: 0 40px;
  font-size: 20px;
  font-weight: 700;
  color: #212121;
}

header .gnb-admin li .seperator {
  display: block;
  width: 1px;
  height: 18px;
  margin-top: 17px;
  background-color: #b5b5b5;
}

#board-posts {
  width: 1200px;
  margin: 0 auto;
  padding: 100px;
}

#board-users {
  width: 1200px;
  margin: 0 auto;
  padding: 100px;
}

.post-list {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.post-list th,
.post-list td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.post-list th {
  background-color: #f2f2f2;
}

.date {
  display: flex;
  justify-content: space-around;
}

.remove-btn {
  width: 50px;
  height: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.delete-btn {
  width: 50px;
  height: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.page-nav {
  text-align: center;
}

.page-nav button {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #333;
}

.page-nav .page {
  background-color: #f9f7f7;
}

.page-nav button:hover {
  background-color: #ddd;
}

.page-nav .prev,
.page-nav .next {
  font-weight: bold;
}

#bulk-delete {
  width: 100px;
  height: 30px;
  margin: 30px auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bulk-delete:hover {
  background-color: #ddd;
}

.page.active,
.page-btn.active {
  background-color: #ddd;
}
