@charset "utf-8";

#wrapper-main {
  width: 1200px;
  margin: 0 auto;
}

#wrapper-main > div {
  margin-bottom: 120px;
}

#wrapper-main #search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
  min-height: 600px;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 200px;
  box-sizing: border-box;
}

#search .message-main {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}

#search .search-main-box {
  position: relative;
}

#search #search-main-input {
  height: 50px;
  width: 600px;
  outline: 2px solid #121212;
  border: none;
  border-radius: 25px;
  padding: 0 20px;
  font-size: 20px;
}

#search #search-main-input:focus {
  outline: 3px solid #113062;
}

#search #search-main {
  position: absolute;
  top: 9px;
  right: 15px;
  display: block;
  width: 28px;
  height: 28px;
  text-indent: -999999px;
  background-image: url('../resources/icons/magnifying-glass.png');
  background-size: cover;
}

#map {
  width: 1200px;
  height: 770px;
  margin: 0 auto;
}

#map h2 {
  margin-bottom: 24px;
}

._2TajqI_e6wT1sDCDaCV0uI {
  position: relative;
}

._2tNEFa1NJS4ytwkg4vCn-I {
  font-family: Georgia, proxima-nova, sans-serif;
  font-weight: 700;
  font-style: italic;
  transition: ease fill 0.2s;
  fill: #696969;
  stroke: none;
  cursor: pointer;
}

.JT4owTP65shYGJp28lMnd {
  font-family: proxima-nova-extra-condensed, 'HelveticaNeue-CondensedBold',
    Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  fill: #999999;
  transition: fill ease 0.2s;
  cursor: pointer;
}

.kiqJ8lXv0XRSXSa_ThjML {
  fill: #cedeff;
  stroke: #ffffff;
  stroke-width: 0.5;
  transition: ease fill 0.2s;
  cursor: pointer;
}

#hash-div,
#hash-season {
  margin: 0 auto;
  padding-top: 30px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  color: #9c9c9c;
  font-size: 20px;
  cursor: pointer;
}

.active {
  color: #121212;
}

.kiqJ8lXv0XRSXSa_ThjML:hover {
  fill: #ffe2e5;
}

#reviews {
  margin-bottom: 60px;
}

#festivals {
  margin-bottom: 60px;
}

#festivals #hash-season {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#festivals-list {
  position: relative;
  margin-top: 24px;
  overflow: hidden;
  height: 368px;
}

#festivals-list ul {
  display: flex;
  white-space: nowrap;
}

.festival-item {
  width: 280px;
  margin: 0px 10px;
  flex-shrink: 0;
}

.festival-item .festival-photo img {
  width: 280px;
  height: 330px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 12px;
}

.festival-item .title {
  font-size: 18px;
  font-weight: 500;
  color: #121212;
}

#festivals-list button {
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  color: #ffffff;
  background-color: #1130625b;
}

#festivals-list button:hover {
  background-color: #113062;
}

#festivals-list #btn-prev-festival {
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -40px;
}

#festivals-list #btn-next-festival {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -40px;
}
