@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
input,
button {
  vertical-align: top;
}

button {
  cursor: pointer;
  border: 0px;
  background-color: transparent;
}

select {
  border: 0px;
}
