@charset "utf-8";

#wrapper {
  width: 1200px;
  margin: 100px auto;
}

#bread-crumb {
  display: flex;
  gap: 8px;
}

#bread-crumb li, 
#bread-crumb li a {
  color: #555;
}

#bread-crumb #home {
  display: block;
  width: 18px;
  height: 18px;
  margin-top: 3px;
  background-image: url(../resources/icons/home.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: -99999px;
}

#review-div {
  margin-top: 24px;
}

#review-div ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.review-list {
  margin-bottom: 30px;
  width: 280px;
  height: 400px;
  border-radius: 10px;
  position: relative;
}

.review-list .photo {
  margin-bottom: 12px;
}


.review-list img {
  width: 280px;
  height: 280px;
  border-radius: 10px;
  object-fit: cover;
}

.review-list .age-gender {
  display: flex;
  gap: 5px;
}

.review-list .age {
  font-size: 14px;
  color: #121212;
  margin-bottom: 10px;
}

.review-list .gender {
  font-size: 14px;
  color: #121212;
}

.review-list .title {
  font-size: 18px;
  font-weight: 500;
  color: #121212;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.review-list .place {
  font-size: 14px;
  color: #121212;
  margin-bottom: 5px;
}

.review-list .hash {
  font-size: 12px;
  font-weight: 400;
  color: #b5b5b5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.review-list .favo {
  position: absolute;
  top: 290px;
  right: 0;
}

.review-list .favo button {
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-image: url(../resources/icons/heart.png);
  text-indent: -99999px;
}

.on {
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-image: url(../resources/icons/redheart.png);
  text-indent: -99999px;
  cursor: pointer;
}

#more-btn {
  width: 130px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
}
