<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>ICHITABI - 당신의 가장 좋았던 일본을 공유해주세요</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/reviews_list.css}" />
  </head>
  <body>
    <div id="header" th:insert="~{fragment/header::header}"></div>
    <div id="wrapper-main">
      <!-- S. 메인페이지 검색 영역 -->
      <div id="search">
        <p class="message-main">일본 여행을 준비 중이신가요?</p>
        <p class="search-main-box">
          <input
            type="text"
            id="search-main-input"
            placeholder="찾으시려는 여행지 키워드를 입력해 주세요"
          />
          <a id="search-main" href="./reviews/search_result.html">검색</a>
        </p>
      </div>
      <!-- E. 메인페이지 검색 영역 -->
      <!-- S. 지도 svg 영역 -->
      <div th:replace="~{fragment/main_map}"></div>
      <!-- E. 지도 svg 영역 -->
      <!-- S. 추천 게시글 영역 -->
      <div id="reviews">
        <h2>유저들의 추천 여행지</h2>
        <div id="hash-div">
          <p th:classappend="${selectedHashtag == '맛집'} ? 'active'" data-hash="맛집">#맛집</p>
          <p th:classappend="${selectedHashtag == '카페'} ? 'active'" data-hash="카페">#카페</p>
          <p th:classappend="${selectedHashtag == '야경'} ? 'active'" data-hash="야경">#야경</p>
          <p th:classappend="${selectedHashtag == '공원'} ? 'active'" data-hash="공원">#공원</p>
        </div>

        <div id="review-div">
          <ul id="review-ul">
            <th:block th:replace="~{fragment/review_item_list :: reviewList(${reviewList})}">
            </th:block>
          </ul>
        </div>
      </div>
      <!-- S. 축제 게시글 영역 -->
      <div id="festivals">
        <h2>일본의 시기별 축제</h2>
        <div id="hash-season">
          <p>#봄</p>
          <p>#여름</p>
          <p>#가을</p>
          <p>#겨울</p>
        </div>
        <div id="festivals-list">
          <ul></ul>
          <button id="btn-prev-festival">◀</button>
          <button id="btn-next-festival">▶</button>
        </div>
      </div>
      <!-- S. 축제 게시글 영역 -->
    </div>
    <div id="floating-btn"></div>
    <div id="footer" th:insert="~{fragment/footer::footer}"></div>
    <template id="festival-item-template">
      <li class="festival-item">
        <a href="#">
          <p class="festival-photo">
            <img />
          </p>
          <p class="title"></p>
        </a>
      </li>
    </template>
    <script th:src="@{/js/util.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/review_item.js}"></script>
    <script type="module" th:src="@{/js/reviews_list.js}"></script>
  </body>
</html>
